/* $grey: rgb(179, 179, 179);
$yellow: #fca311;
$yellow: RGB(106, 247, 151);
$yellow: #B3C724;
$dark: RGB(28, 29, 28);
$dark_grey: rgb(43, 43, 43);
$semi_dark: #222527;
$card: hsl(204, 10%, 18%);
$twitch: #9147FF;
$youtube: #ff2e2e;
$hover-black: rgba(0, 0, 0, 0.1); */

$grey: rgb(179, 179, 179);
$yellow: #B3C724;
$dark: RGB(28, 29, 28);
$dark_grey: rgb(43, 43, 43);
$semi_dark: #222527;
$card: hsl(204, 10%, 18%);
$twitch: #9147FF;
$youtube: #ff2e2e;
$hover-black: rgba(0, 0, 0, 0.1);

$aside_gradient: linear-gradient(hsl(204, 10%, 18%), hsl(210, 13%, 9%));    
$main_gradient: linear-gradient(hsl(204, 10%, 14%), hsl(210, 13%, 9%));

$white_bleu: #fafcfa;
$white: #fefffe;
$green: #35766b;
$soft_grey: #f1f1f0;
$soft_bleu: #c7d8d8;

$aside: $aside_gradient;
$main: $white;
$yellow: $green;

$dark: #5e5f5e;
$darken: #4a4b4a;

$primary_font_color: #1d1f1d;
$link: $darken;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Raleway', sans-serif;;